/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  &:hover {
    background-color: lighten($color: #fff, $amount: 15%);
    color: $teal;
    transition: 0.4s ease-in;
    border: 1px solid $teal;
  }
}

.default {
  background-color: $teal;
}

.error {
  background-color: $red;
}

.info {
  background-color: $purple;
}

.success {
  background-color: $green;
}

.warning {
  background-color: $salmon;
}
